{if $debug} <!-- xst_dynamic_contentType tpl: h1.html --> {/if}
{if 0 lt $label|strlen}
    <label class="content_type_label">{$label}</label>
{/if}

{if 0 lt $cmsTag->tag|strlen}
    <h1 {if $cmsTag->css} class="{$cmsTag->css}" {/if}>{$cmsTag->tag}</h1>
{/if}
{if $debug} <!-- xst_dynamic_contentType tpl: h1.html END --> {/if}