{if $debug} <!-- xst_dynamic_contentType tpl:h3.html --> {/if}

{if 0 lt $label|strlen}
    <label class="content_type_label">{$label}</label>
{/if}

{if 0 lt $cmsTag->tag|strlen}
  <h3 {if $cmsTag->css} class="{$cmsTag->css}" {/if}>{$cmsTag->tag}</h3>
{/if}
{if $debug} <!-- xst_dynamic_contentType tpl:h3.html END --> {/if}