{if $debug} <!-- xst_dynamic_contentType tpl: p.html --> {/if}
{if 0 lt $label|strlen}
    <label class="content_type_label">{$label}</label>
{/if}

{if 0 lt $cmsTag->tag|strlen}
    <p {if $cmsTag->css} class="{$cmsTag->css}" {/if}>{$cmsTag->tag}</p>
{/if}
{if $debug} <!-- xst_dynamic_contentType tpl: p.html END --> {/if}