{if $debug} <!-- xst_dynamic_contentType tpl: raw.html END --> {/if}
{if 0 lt $label|strlen}
<label class="content_type_label">{$label}</label>
{/if}

{if 0 lt $cmsTag->tag|strlen}
<span {if $cmsTag->css} class="{$cmsTag->css}" {/if}>{$cmsTag->tag}</span>
{/if}
{if $debug} <!-- xst_dynamic_contentType tpl: raw.html END --> {/if}